.encabezado {
  background-color: rgb(36, 33, 33);
}

.encabezado h1, h2 { 
  color: white;
}

.encabezado h1 {
  display: flex;
  justify-content: center;
}

.subencabezado {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.contenedor {
  width: 100%;
  height: 300px;
  background-color: rgb(58, 145, 58);
}

.container_card {
  display: flex;
  
  justify-content: space-around;
  margin: 20px;
}

.card {
  width: 200px;
  height: 200px;
  border: 2px solid;
  background-color: antiquewhite;
}

.card h3, p {
  margin: 10px;
}

